Flask
Flask-CORS
Flask-SocketIO
SQLAlchemy
Flask-SQLAlchemy
tensorflow
opencv-python
Pillow
numpy
scikit-learn
matplotlib
seaborn
RPi.GPIO==0.7.1; sys_platform == "linux"
adafruit-circuitpython-ads1x15==2.2.21; sys_platform == "linux"
adafruit-blinka==8.22.2; sys_platform == "linux"
requests
python-socketio
eventlet
googletrans
pandas
python-dateutil
python-dotenv
opencv-contrib-python
pyowm
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
pytest
pytest-flask
black
flake8
gunicorn
python-decouple
